<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout.html">
<head>
    <meta charset="UTF-8"/>
    <title>Registration et Login</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container col-md-5 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <form th:action="@{/login}" method="post">

                    <!-- success message -->
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Email ou Password incorrects</div>
                    </div>

                    <!-- success message -->
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">You have been logged out</div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Username</label>
                        <input class="form-control" type="text" id="username" name="username"
                               placeholder="Entrer votre email" autofocus="autofocus"/>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input class="form-control" type="password" id="password" name="password"
                               placeholder="Entrer votre password" autofocus="autofocus"/>
                    </div>

                    <button type="submit" name="login-submit" id="login-submit"
                            class="btn btn-primary">Log In</button>
                </form>
                <div class="form-group">
                    <span>New user? <a href="/" th:href="@{/registration}">Inscrire</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>